:root {
  --body-font: "Lato", sans-serif;
  --header-font-family: "Open Sans", sans-serif;
  --font-size-70: 4.375rem;
  --font-size-50: 3.125rem;
  --font-size-40: 2.5rem;
  --font-size-37: 2.313rem;
  --font-size-30: 1.875rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;

  --font-wight-700: 700;
  --font-wight-400: 400;
  --font-wight-800: 800;

  --white-color: #fff;
  --text-color-primary: #54279d;
  --text-color-secondary: ;
  --text-color-dark: #37333d;
  ---text-color-accent: #651fff;
  --icon-green: #a0ffc6;
  --main-gradient: radial-gradient(50% 50% at top right, rgba(255, 228, 133, 0.2) 0%, rgba(255, 228, 133, 0) 100%),
    radial-gradient(50% 50% at 70% 20%, rgba(255, 228, 133, 0.3) 0%, rgba(255, 228, 133, 0) 100%),
    linear-gradient(101.57deg, #fea07a -131.04%, rgba(135, 72, 239, 0.57) 60.49%);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;

  font-family: var(--body-font);
  font-size: var(--font-size-20);
  line-height: 25.74px;
  font-weight: var(--font-wight-400);
  color: var(--text-color-primary);

  background: var(--main-gradient);
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
  color: var(--text-color-primary);
  font-weight: 800;
  line-height: 1.1;
}

a {
  color: var(--text-color-dark);
  display: block;
  text-decoration: none;
}

.container {
  width: min(90%, 71.5rem);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: none;
}
.el-center {
  display: block;
  margin: 0 auto;
}

/* TEXT UTILITY  */
.text-white {
  color: var(--white-color);
}
.text-bold {
  font-weight: var(--font-weight-700);
}
.text-dark {
  color: var(--text-color-dark);
  font-family: var(--header-font-family);
  font-weight: var(--font-wight-700);
}

.text-14-bold {
  font-family: var(--header-font-family);
  font-weight: var(--font-weight-700);
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-accent {
  color: var(---text-color-accent);
  font-family: var(--header-font-family);
  font-weight: var(--font-wight-700);
}
/* FLOW  */
.column-mb-50 > * {
  margin-bottom: 50px;
}

.grid-flow {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 10px;
}

.split-wrapper {
  display: flex;
}

/* MARGIN  */
.mb-100 {
  margin-bottom: 100px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}

/* PADDING */
.padding-card {
  padding: 20px;
}
.padding-70 {
  padding: 70px 0;
}

/* HEADER SIZE  */
.description-fs-30 {
  font-size: var(--font-size-30);
}

.text-14-bold {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-700);
}

/* WRAPPER  */
.wrap-500 {
  max-width: 500px;
}
.wrap-5-2 {
  max-width: 520px;
}
.wrap-5-5 {
  max-width: 556px;
}
.wrap-400 {
  max-width: 400px;
}

/* BUTTON  */

/* ARROW */
.bx-chevron-right {
  font-size: var(--font-size-20);
  margin-left: 30px;
}

.btn-white,
.btn-link {
  display: block;
  color: var(--white-color);
  font-size: var(--font-size-20);
  font-family: var(--header-font-family);
  font-weight: 800;
  transform: translateY(0);
  transition: all 0.3s ease-in;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-link:focus,
.btn-link:hover {
  transform: translateY(-5px);
}

.btn-secondary,
.btn-primary {
  display: flex;
  align-items: center;

  padding: 20px 31px;
  border-radius: 51px;
  background: linear-gradient(94.7deg, #fb44ff -53.76%, #ee950f 121.32%);
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.7), 10px 10px 30px rgba(112, 34, 13, 0.2);
}

.btn-secondary {
  padding: 22px 60px;
  background: linear-gradient(96.76deg, #44a5ff -31.91%, #11ffd5 89.1%);
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.5), 10px 10px 30px rgba(35, 44, 46, 0.3);
  border-radius: 51px;
}

.btn-white,
.btn-black {
  color: var(--white-color);
  font-weight: 700;
  padding: 22px 60px;
  border-radius: 51px;
  background-color: var(--text-color-dark);
}

.btn-primary:focus,
.btn-primary:hover,
.btn-white:focus,
.btn-white:hover,
.btn-black:focus,
.btn-black:hover {
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.4), 10px 10px 30px rgba(255, 106, 249, 0.4);
  outline: none;
}

.btn-white {
  color: var(--text-color-dark);
  background-color: var(--white-color);
}

/* MAIN SECTION  */
.wrapper-hero {
  margin-top: 50px;
}
.hero-img-991 {
  display: none;
}

.hero-section-header .heading {
  display: inline;
  font-size: var(--font-size-70);
}
.hero-section-header .heading img {
  display: inline;
  vertical-align: text-bottom;
}

.hero-section-header {
  padding: 70px 0 0 0;
  flex: 1;
}

.features-section {
  position: relative;
}

.section-transition::before {
  position: absolute;
  display: block;
  content: "";

  top: -50px;
  left: 0;

  width: 100%;
  height: 700px;

  background-image: url("../img/transition-section-wave.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.gradient-wave {
  width: 200%;
  height: 100%;
}
.gradient-wave::after,
.gradient-wave-second::before,
.gradient-wave::before {
  position: absolute;
  display: block;
  content: "";
  top: 25%;
  left: 0px;

  width: 100%;
  height: 700px;

  background-image: url("../img/gradinent-vawe.svg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.gradient-wave::after {
  top: 50%;
  left: 0;
  background-image: url("../img/gradinent-vawe-3.svg");
  opacity: 1;
}

.gradient-wave-second::before {
  top: 10%;
  background-image: url("../img/gradinent-vawe-2.svg");
}

.account-section {
  position: relative;
  background: #fafafa;
  z-index: -1;
}

.features__list {
  gap: 10px;
}
.features__list .card__body h4 {
  font-size: var(--font-size-24);
}
.features__list .card__body p {
  font-size: 1.063rem;
}

.features__item {
  transform: translateY(0);
  transition: all 0.3s ease-in;
}
.features__item:hover {
  background: transparent;
  border-radius: 17px;
  transform: translateY(-20px);
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.4), 10px 10px 30px rgba(255, 106, 249, 0.4);
}

.list__item {
  position: relative;
  padding-left: 30px;
}

.list__item::after,
.list__item::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);

  width: 17px;
  height: 17px;

  background-color: #94cdbd;
  border-radius: 50px;
}

.list__item::after {
  width: 10px;
  height: 10px;
  background-color: #a0ffc6;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 260px;
  background-color: var(--white-color);

  padding: 20px;
  border-radius: 17px;
}

.card__img-container {
  flex-grow: 1;
  padding: 15px 15px 40px 15px;
}

/* TYPE ACCOUNT  */
.account-section .split-wrapper {
  justify-content: center;
  align-items: baseline;
}

.account-section .split-wrapper .account-description > .split-wrapper {
  justify-content: flex-start;
}

.type-account {
  margin-right: 100px;
}

.account-stats {
  display: flex;
  align-items: baseline;
  position: relative;
  padding: 25px 30px 30px 100px;
  margin-bottom: 10px;
  color: var(--white-color);
  background: linear-gradient(92.89deg, #cebacd -56.63%, #bf6aff 162.32%);
  border-radius: 10px;
}
.account-stats .heading {
  margin-right: 10px;
}

.account-stats::before {
  position: absolute;
  display: block;

  top: -30px;
  left: -20px;

  width: 126px;
  height: 100px;

  content: "";

  background-image: url("../img/account-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.account-description .split-wrapper {
  gap: 30px;
}
.account-description .heading {
  font-size: var(--font-size-50);
}

table {
  background: linear-gradient(180deg, #ffffff -22.4%, rgba(255, 255, 255, 0.63) 58.87%);
  border: 1px solid #ffffff;
  box-shadow: 18px 41px 50px -10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

td {
  font-size: var(--font-size-14);
  padding: 15px;
}

tr:not(:last-child) td {
  width: max-content;
  border-bottom: 1px solid #e6dcfd;
}

/* SEPARATOR BANNER  */
.separator-banner {
  position: relative;
}

.separator-banner::before {
  position: absolute;
  display: block;
  content: "";

  top: -50%;
  right: 0;

  content: "";

  width: 100%;
  height: 560px;

  background-image: url("../img/separator-banner-wave-svg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.header-banner::before {
  position: absolute;
  display: block;
  top: -50%;
  right: 0;

  content: "";
  max-width: 100%;
  width: 660px;
  height: 560px;

  background-image: url("../img/separator-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  z-index: 4;
}

.top-index {
  z-index: 3;
}

/* DISCOVER SECTION  */
.discover-section .split-wrapper {
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-account {
  font-weight: 800;
}

.discover-section .split-wrapper .img-container {
  width: 60%;
}

.discover-section .split-wrapper .section-header {
  width: 40%;
}

.section-header h2 {
  font-size: var(--font-size-50);
}

.discover-section .btn-wrapper .split-wrapper {
  justify-content: flex-start;
}

.btn-account {
  position: relative;
  background: linear-gradient(180deg, #ffffff -71.5%, rgba(255, 255, 255, 0) 182.25%);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 57px 50px -20px rgba(97, 97, 97, 0.2);

  border-radius: 10px;
  backdrop-filter: blur(10px);
  transform: translateY(0);
  transition: all 0.3s ease-in;
}

.btn-account::after,
.btn-account::before {
  position: absolute;
  display: block;
  content: "";

  top: -60px;
  left: -20px;

  width: 150px;
  height: 150px;

  background-image: url("../img/icon-fiat-account.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  z-index: 1;
}
.btn-account::after {
  filter: drop-shadow(0px 20px 50px rgba(254, 160, 122, 0.6));
}
.btn-account:hover {
  transform: translateY(-10px);
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.7), 10px 10px 30px rgba(112, 34, 13, 0.2);
}

.btn-account a {
  padding: 20px 50px 20px 130px;
}

.split-wrapper {
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.btn-account .split-wrapper {
  width: 100%;
}
.btn-account .split-wrapper .bx-chevron-right {
  margin-left: 0;
}

/* COPY SECTION  */
.copy-section header .split-wrapper {
  justify-content: flex-start;
  align-items: left;
}

.copy-section .heading {
  font-size: var(--font-size-50);
}

.security-item .card {
  background: transparent;
}

.security-section {
  position: relative;
}

.gradient-wave-second-revers::before,
.gradient-wave-revers::before {
  position: absolute;
  display: block;
  content: "";

  top: 50%;
  right: 0;

  width: 100%;
  height: 560px;

  transform: rotateY(3.142rad);

  background-image: url("../img/gradinent-vawe-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: -1;
}

.gradient-wave-second-revers::before {
  top: 20%;
  background-image: url("../img/gradinent-vawe-3.svg");
  opacity: 0.5;

  z-index: -1;
}

.security-section {
  position: relative;
  background: radial-gradient(50% 50% at 80% 50%, rgba(255, 228, 133, 0.3) 0%, rgba(255, 228, 133, 0) 100%),
    radial-gradient(50% 50% at 5% 35%, rgba(255, 194, 122, 0.2) 0%, rgba(255, 194, 122, 0) 100%);
}

.discover-section {
  position: relative;
  padding-top: 150px;
  background-image: url("../img/discover-section-bg.svg"),
    radial-gradient(50% 50% at 5% 35%, rgba(209, 121, 40, 0.2) 0%, rgba(209, 121, 40, 0) 100%),
    radial-gradient(30% 30% at 25% 69%, rgba(185, 251, 255, 0.2) 0%, rgba(185, 251, 255, 0) 100%),
    radial-gradient(50% 50% at 80% 50%, rgba(245, 0, 87, 0.17) 0%, rgba(245, 0, 87, 0) 100%);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: 10px;
  z-index: 2;
}

.copy-section {
  position: relative;
  overflow: hidden;
}

.copy-section .gradient-wave::after,
.copy-section .gradient-wave::before {
  position: absolute;
  display: block;
  content: "";

  top: -2%;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../img/copy-section-wave.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.copy-section .gradient-wave::after {
  top: 200px;
}

@media (max-width: 1200px) {
  .btn-white,
  .btn-black {
    padding: 20px 30px;
  }

  .hero-section-header {
    flex: auto;
  }
  .discover-section .split-wrapper .section-header {
    width: 45%;
  }

  .features-section {
    padding: 70px 0 0px;
  }

  .separator-banner .header-banner::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .grid-flow {
    grid-template-columns: repeat(2, 270px);
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .separator-banner,
  .header-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .separator-banner {
    z-index: 10;
  }

  .separator-banner .header-banner::before {
    top: 0%;
    left: 46%;
  }
  /* .separator-banner {
    width: 100%;
    height: 940px;
  } */

  .separator-banner::before {
    top: -20%;
    height: 100%;
    background-image: url("");
    background-size: cover;
  }

  .separator-wrapper {
    margin-top: 200px;
  }
  .account-section {
    padding-bottom: 200px;
  }

  .header-banner .text-white {
    font-size: var(--font-size-37);
  }
  .header-banner {
    max-width: 630px;
    text-align: center;
  }

  .separator-wrapper {
    margin-bottom: 150px;
  }
  .header-banner::before {
    background-image: url("../img/separator-img-991.png");
  }

  .separator-banner {
    padding: 70px 0 0;
  }
  .security-section {
    padding: 0 0 70px;
  }

  .security-section::before {
    position: absolute;
    content: "";

    top: 100px;
    left: 50%;
    transform: translate(-50%, -100%);

    width: 100%;
    height: 940px;

    background-image: url("../img/separator-banner-991.svg");
    background-position: top center;
    background-size: cover;
    z-index: -1;
  }
}

@media (max-width: 1024px) {
  .hero-section-header {
    padding: 0;
  }
  .hero-img-full {
    display: none;
  }
  .hero-img-991 {
    order: 0;
    display: block;
  }
  .list__item::after,
  .list__item::before {
    display: none;
  }

  .hero-section-header {
    order: 1;
  }
  .hero-section .split-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .type-account {
    margin-right: 50px;
  }
  .btn-link {
    padding: 22px 40px;
  }

  .header-banner .text-white {
    font-size: var(--font-size-24);
  }
  .header-banner {
    max-width: 490px;
  }

  .security-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
  }
  .security-item {
    flex-grow: 1;
  }

  .discover-section .split-wrapper .section-header,
  .discover-section .split-wrapper .img-container {
    width: 100%;
  }
  .section-header h2 {
    font-size: var(--font-size-40);
  }

  .discover-section .split-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991.98px) {
  .btn-white,
  .btn-black {
    font-size: 1rem;
  }

  .gradient-wave::after,
  .gradient-wave-second::before,
  .gradient-wave::before {
    top: 40%;
  }

  .gradient-wave::after {
    top: 80%;
  }

  .description-fs-30 {
    font-size: var(--font-size-40);
    font-weight: var(--font-wight-800);
    margin-bottom: 60px;
  }
  .list__item p {
    font-size: var(--font-size-30);
  }
}

@media (max-width: 767.98px) {
  .hero-img-991 {
    display: none;
  }
  .hero-img-full {
    display: block;
  }

  .account-section .split-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px 0;
  }

  .type-account .account-stats .heading {
    font-size: var(--font-size-40);
  }

  table td {
    font-size: var(--font-size-20);
  }

  table,
  .type-account {
    width: 100%;
    margin-right: 0;
  }
  .account-stats {
    padding: 25px 30px 30px 200px;
  }

  .type-account {
    margin-bottom: 50px;
  }

  .account-description .split-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .separator-wrapper .btn .btn-black {
    padding: 20px 60px;
  }

  .separator-wrapper .header-banner h2 {
    font-size: var(--font-size-40);
  }
  .header-banner {
    max-width: 100%;
  }

  .security-list {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .security-item .card {
    display: grid;
    grid-template-areas: "icon-item item-text";
    grid-template-columns: 120px 1fr;
    column-gap: 10px;
  }

  .card__img-container {
    grid-area: icon-item;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
  }
  .card__img-container svg {
    height: 120px;
  }

  .card__body {
    grid-area: item-text;
    text-align: start;
    padding: 10px;
    font-size: var(--font-size-24);
  }

  .security-header h2 {
    font-size: var(--font-size-40);
    margin-bottom: 10px;
  }

  .security-header .description {
    font-size: var(--font-size-24);
  }

  .discover-section .split-wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .btn-wrapper .split-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .btn-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .copy-section .split-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copy-section .split-wrapper header .split-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .copy-section .split-wrapper header {
    order: 1;
  }

  .copy-section .split-wrapper .img-container {
    order: 0;
  }
}

@media (max-width: 575.98px) {
  .hero-section-header .heading {
    font-size: var(--font-size-40);
  }

  .btn-account {backdrop-filter: none;}

  .wrapper-hero {
    margin-top: 30px;
  }

  .item__list {
    text-align: left;
    padding-left: 10px;
  }

  .list__item p {
    font-size: var(--font-size-20);
  }

  .list__item::after,
  .list__item::before {
    display: block;
  }

  .hero-section-header .description-fs-30 {
    font-size: var(--font-size-37);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 30px;
  }
  .grid-flow {
    grid-template-columns: 1fr;
  }

  .type-account .account-stats {
    padding: 10px;
  }

  .gradient-wave::after {
    top: 50%;
  }

  .gradient-wave::after {
    top: 100%;
  }

  .section-transition::before {
    top: 50%;
  }

  .account-stats::before {
    width: 100px;
  }

  .type-account .account-stats {
    padding: 20px 30px 20px 90px;
  }

  .account-section .split-wrapper {
    padding: 0;
  }

  .account-section .account-description .split-wrapper {
    flex-direction: column;
  }

  .account-section .account-description .btn-link {
    padding: 20px 60px;
  }

  .account-description .heading {
    font-size: var(--font-size-40);
  }

  .separator-banner .header-banner::before {
    top: -10%;
  }

  .separator-wrapper .header-banner h2 {
    font-size: var(--font-size-20);
  }

  .separator-wrapper {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .account-section {
    margin-bottom: 100px;
    padding-bottom: 50px;
  }

  .separator-banner::before {
    top: 130px;
  }
  .security-section::before {
    height: 700px;
  }

  .security-list {
    padding: 0;
    gap: 0;
  }

  .security-item {
    flex-grow: 1;
  }

  .security-item .card {
    padding: 0;
    gap: 15px;
  }

  .security-item .card__img-container {
    padding: 0;
  }
  .security-item .card {
    grid-template-columns: 80px 1fr;
  }
  .card__body p {
    font-size: 1rem;
  }

  .security-section {
    padding: 0;
  }
  .discover-section {
    padding-top: 200px;
  }
  .discover-section {padding-bottom: 0;}

  .section-header h2 {
    font-size: var(--font-size-37);
  }

  .copy-section .split-wrapper header .split-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .btn-white,
  .btn-black {
    padding: 20px 50px;
  }

  .text-accent {
    font-size: 1rem;
    margin-bottom: 4px;
  }


 .btn-account a {padding: 10px 20px 20px 100px;}
}


@media (max-width:320px) {
  .features__item .card {padding: 0;}
  .type-account .account-stats {padding: 20px 30px 20px 90px;}
  .type-account .account-stats .heading {font-size: var(--font-size-24);}
  .type-account .account-stats span {font-size: var(--font-size-14);}
  .btn-account a {padding: 10px 10px 10px 100px;}

  .btn-account::after, .btn-account::before {
    width: 100px;
        top: -50px;
    left: -7px;
  }

  .security-section::before {
    top: 140px;
    height: 800px;
  }
  .section-header h2 {
    font-size: var(--font-size-30);
    margin-bottom: 20px;
  }
 .btn-wrapper h2 {
   font-size: var(--font-size-20);
  margin-bottom: 20px;
  }

  .hero-section-header .heading {font-size: var(--font-size-30);}
  .hero-section-header .description-fs-30 {
    font-size: var(--font-size-24);
  }

  .discover-section .split-wrapper {margin-bottom: 50px;}
  .btn-wrapper .btn-account .split-wrapper {margin-bottom: 0;}
}