@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../../css/font/005854e464de62dd7c3c7b169055c28e.eot");
  src: url("../../css/font/005854e464de62dd7c3c7b169055c28e.eot?#iefix") format("embedded-opentype"), url("../../css/font/005854e464de62dd7c3c7b169055c28e.woff2") format("woff2"), url("../../css/font/005854e464de62dd7c3c7b169055c28e.woff") format("woff"), url("../../css/font/005854e464de62dd7c3c7b169055c28e.ttf") format("truetype"), url("../../css/font/005854e464de62dd7c3c7b169055c28e.svg#HelveticaNeueCyr") format("svg");
}

:root {
  --body-font: "HelveticaNeueCyr", sans-serif;
  --header-font-family: "Manrope", sans-serif;
  --font-size-180: clamp(6.25rem, calc(4.3rem + 6.76vw), 11.25rem);
  --font-size-100: clamp(3.13rem, calc(1.91rem + 6.1vw), 6.25rem);
  --font-size-30: clamp(1.25rem, calc(1.01rem + 1.22vw), 1.88rem);
  --font-size-50: clamp(1.88rem, calc(1.39rem + 2.44vw), 3.13rem);
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-37: 2.313rem;
  --font-wight-400: 400;
  --font-wight-800: 800;
  --white-color: #fff;
  --text-color-primary: #312a7f;
  --text-color-secondary: #651fff;
  --text-color-dark: #000;
  --bg-grey: #f0f0f0;
  --bg-purple-light: #b4abd7;
  --bg-main-color: #b391ce;
  --primary-btn-gradient: linear-gradient(94.7deg, #fb44ff -53.76%, #ee950f 121.32%);
  --primary-shadow: -10px -10px 30px rgba(255, 255, 255, 0.4), 10px 10px 30px rgba(255, 106, 249, 0.4);
  --secondary-btn-gradient: linear-gradient(96.76deg, #44a5ff -31.91%, #11ffd5 89.1%);
  --secondary-shadow: -10px -10px 30px rgba(255, 255, 255, 0.4), 10px 10px 30px rgba(17, 255, 212, 0.2);
  --black-btn-shadow: -10px -10px 30px rgba(255, 255, 255, 0.4), 10px 10px 30px rgba(0, 0, 0, 0.1);
  --first-screen-gradient: linear-gradient(180deg, var(--white-color) -56.25%, rgba(255, 255, 255, 0) 181.03%);
  --card-gradient: linear-gradient(180deg, var(--white-color) -24.59%, rgba(255, 255, 255, 0) 128.36%);
  --fiat-account-gradient: linear-gradient(180deg, var(--white-color) -22.4%, rgba(255, 255, 255, 0.63) 58.87%);
  --blur-60: blur(60px);
  --blur-50: blur(50px);
  --blur-30: blur(30px);
  --blur-20: blur(20px);
  --blur-4: blur(4px);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: var(--body-font);
  font-size: var(--font-size-20);
  line-height: 1.2;
  font-weight: var(--font-wight-400);
  color: var(--text-color-primary);
  background-color: var(--bg-main-color);
}

img {
  max-width: 100%;
  height: auto;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--header-font-family);
  color: var(--text-color-primary);
  font-weight: 800;
  line-height: 1.1;
}

a {
  color: var(--text-color-dark);
  display: block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.btn {
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none !important;
  border: none;
}

.button-link {
  display: block;
  font-family: var(--header-font-family);
  color: var(--white-color);
  font-weight: var(--font-wight-800);
  width: 240px;
  height: 67px;
  padding: 23px 30px;
  border-radius: 51px;
}

.btn-primary {
  background: var(--primary-btn-gradient);
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--white-color);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: var(--white-color);
  -webkit-box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.7), 10px 10px 30px rgba(112, 34, 13, 0.2);
          box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.7), 10px 10px 30px rgba(112, 34, 13, 0.2);
  outline: none;
}

.btn-secondary {
  background: var(--secondary-btn-gradient);
  -webkit-box-shadow: var(--secondary-shadow);
          box-shadow: var(--secondary-shadow);
  text-align: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-secondary:hover, .btn-secondary:focus {
  outline: none;
  background-color: var(--white-color);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: var(--white-color);
  -webkit-box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.6), 10px 10px 30px rgba(221, 45, 130, 0.2);
          box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.6), 10px 10px 30px rgba(221, 45, 130, 0.2);
}

.btn-third {
  color: var(--text-color-dark);
  background-color: var(--white-color);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-third:hover, .btn-third:focus {
  outline: none;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: var(--text-color-dark);
  -webkit-box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.6), 10px 10px 30px rgba(221, 45, 130, 0.2);
          box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.6), 10px 10px 30px rgba(221, 45, 130, 0.2);
}

.btn-black {
  color: var(--white-color);
  background-color: var(--text-color-dark);
  -webkit-box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.4), 10px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.4), 10px 10px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-black:hover, .btn-black:focus {
  outline: none !important;
  background-color: var(--white-color);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: var(--text-color-dark);
  -webkit-box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.6), 10px 10px 30px rgba(221, 45, 130, 0.2);
          box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.6), 10px 10px 30px rgba(221, 45, 130, 0.2);
}

.padding-70 {
  padding: 70px 0;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

table {
  border-collapse: separate;
}

button:focus {
  outline: none;
}

.text-accent {
  font-family: var(--header-font-family);
  font-weight: var(--font-wight-800);
  color: var(--text-color-secondary);
  margin-bottom: 10px;
}

.text-sub {
  color: var(--white-color);
  font-weight: 300;
  font-size: var(--font-size-16);
}

.text-bold-white {
  font-family: var(--header-font-family);
  font-weight: var(--font-wight-800);
}

.split-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-5-8 {
  max-width: 584px;
}

.wrapper-500 {
  max-width: 557px;
}

.wrapper-400 {
  max-width: 443px;
}

.wrapper-3-8 {
  max-width: 380px;
}

.main-page .first-screen-section {
  padding: 70px 0 0;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--first-screen-gradient), radial-gradient(50% 50% at top left, rgba(209, 121, 40, 0.5) 0%, rgba(209, 121, 40, 0) 100%), radial-gradient(50% 50% at bottom right, rgba(255, 248, 234, 0.5) 0%, rgba(255, 248, 234, 0) 100%), radial-gradient(50% 50% at top right, rgba(62, 59, 219, 0.5) 0%, rgba(62, 59, 219, 0) 100%);
}

.main-page .first-screen-section .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .first-screen-section .main-section .first-screen-header .first-screen-heading {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  font-size: var(--font-size-100);
  margin-bottom: 20px;
}

.main-page .first-screen-section .main-section .first-screen-header .first-screen-heading img {
  display: inline;
  vertical-align: middle;
}

.main-page .first-screen-section .main-section .first-screen-header .first-screen-description {
  font-size: var(--font-size-30);
  margin-bottom: 20px;
}

.main-page .first-screen-section .main-section .main-img-container {
  position: relative;
}

.main-page .first-screen-section .main-section .main-img-container::before {
  position: absolute;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  content: "Allpips Fiat";
  top: 200px;
  left: 0;
  font-family: var(--header-font-family);
  text-align: center;
  color: rgba(57, 57, 116, 0.06);
  font-size: var(--font-size-180);
  font-weight: 800;
  z-index: -1;
}

.main-page .features-section {
  position: relative;
}

.main-page .features-section::before {
  position: absolute;
  content: "";
  top: 0%;
  left: 30%;
  width: 453px;
  height: 453px;
  z-index: -1;
  background-color: #584a8f;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: blur(500px);
          filter: blur(500px);
}

.main-page .features-section .features-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (270px)[4];
      grid-template-columns: repeat(4, 270px);
  gap: 10px;
}

.main-page .features-section .features-list .features-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-page .features-section .features-list .features-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: var(--white-color);
  border-radius: 17px;
  -webkit-box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.6), 10px 10px 30px rgba(221, 45, 130, 0.2);
          box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.6), 10px 10px 30px rgba(221, 45, 130, 0.2);
}

.main-page .features-section .features-list .features-item .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  overflow: hidden;
  border-radius: 0px 0px 17px 10px;
  border: 1px solid var(--white-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 33px 53px 50px -20px rgba(120, 109, 239, 0.3);
          box-shadow: 33px 53px 50px -20px rgba(120, 109, 239, 0.3);
  border-radius: 17px;
  background: var(--card-gradient);
}

.main-page .features-section .features-list .features-item .card .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 80px;
}

.main-page .features-section .features-list .features-item .card .card-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  color: var(--text-color-primary);
  background: rgba(255, 255, 255, 0.6);
  padding: 30px 15px;
}

.main-page .features-section .features-list .features-item .card .card-body .card-heading {
  font-family: var(--header-font-family);
  font-size: var(--font-size-24);
  font-weight: var(--font-wight-800);
  margin-bottom: 13px;
}

.main-page .features-section .features-list .features-item .card .card-body .card-description {
  font-size: var(--font-size-16);
  color: var(--text-color-dark);
}

.main-page .account-section {
  background: var(--fiat-account-gradient);
  padding-bottom: 140px;
}

.main-page .account-section .account-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .account-section .account-wrapper .account-stats {
  position: relative;
  margin-right: 100px;
}

.main-page .account-section .account-wrapper .account-stats::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(30px, -34px);
          transform: translate(30px, -34px);
  width: 73px;
  height: 72px;
  border: 1px solid var(--white-color);
  border-radius: 10px 0px 11px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-35.42%, #ffffff), color-stop(186.11%, rgba(255, 249, 249, 0)));
  background: linear-gradient(180deg, #ffffff -35.42%, rgba(255, 249, 249, 0) 186.11%);
  z-index: 1;
}

.main-page .account-section .account-wrapper .account-stats::after {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  left: -20px;
  width: 145px;
  height: 115px;
  background-image: url("../../img/icons/icon-fiat-account.png");
  background-size: contain;
  -webkit-filter: drop-shadow(0px 40px 30px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 40px 30px rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.main-page .account-section .account-wrapper .account-stats .header-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 24px 40px 24px 150px;
  border-radius: 10px;
  background: linear-gradient(92.89deg, #6a26ff 9.02%, #fb4dff 162.32%);
}

.main-page .account-section .account-wrapper .account-stats .header-stats h2 {
  font-size: var(--font-size-50);
  margin-right: 5px;
}

.main-page .account-section .account-wrapper .account-stats .account-stats-table {
  background: var(--fiat-account-gradient);
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.2), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
          box-shadow: 0 20px 70px -10px rgba(51, 51, 51, 0.2), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
}

.main-page .account-section .account-wrapper .account-stats .account-stats-table .account-stats-body .account-stats-row:not(:last-child) .account-stats-description,
.main-page .account-section .account-wrapper .account-stats .account-stats-table .account-stats-body .account-stats-row:not(:last-child) .account-stats-header {
  border-bottom: 1px solid #e6dcfd;
}

.main-page .account-section .account-wrapper .account-stats .account-stats-table .account-stats-body .account-stats-row .account-stats-description,
.main-page .account-section .account-wrapper .account-stats .account-stats-table .account-stats-body .account-stats-row .account-stats-header {
  font-family: var(--header-font-family);
  font-size: var(--font-size-14);
  text-align: left;
  padding: 15px 0 15px 0;
}

.main-page .account-section .account-wrapper .account-stats .account-stats-table .account-stats-body .account-stats-row .account-stats-description {
  width: 30%;
  text-align: right;
  font-weight: var(--font-wight-800);
}

.main-page .account-section .account-wrapper .account-description .header {
  font-size: var(--font-size-50);
}

.main-page .account-section .account-wrapper .account-description .header img {
  display: inline;
  vertical-align: text-bottom;
}

.main-page .account-section .account-wrapper .account-description .description {
  line-height: 28.34px;
}

.main-page .account-section .account-wrapper .account-description .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.main-page .separator-banner {
  position: relative;
  background-image: url("../../img/background-separator-img.png");
  background-size: cover;
  padding: 60px 0 50px;
}

.main-page .separator-banner .separator-header h2 {
  font-size: var(--font-size-37);
  max-width: 617px;
}

.main-page .separator-banner .separator-header h2::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 70%;
  width: 50%;
  height: 628px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../../img/separator-img.png");
  background-size: contain;
  z-index: 100;
}

.main-page .security-section {
  background-color: var(--bg-grey);
}

.main-page .security-section .security-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.main-page .security-section .security-list .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .discover-section {
  background: var(--first-screen-gradient), radial-gradient(50% 50% at top left, rgba(209, 121, 40, 0.5) 0%, rgba(209, 121, 40, 0) 100%), radial-gradient(50% 50% at bottom right, rgba(255, 248, 234, 0.5) 0%, rgba(255, 248, 234, 0) 100%), radial-gradient(50% 50% at top right, rgba(62, 59, 219, 0.5) 0%, rgba(62, 59, 219, 0) 100%);
}

.main-page .discover-section .heading {
  font-size: var(--font-size-50);
}

.main-page .discover-section .split-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin-bottom: 100px;
}

.main-page .discover-section .split-wrapper .img-container,
.main-page .discover-section .split-wrapper .discover-section-heder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-page .discover-section .wrapper-account-btn {
  position: relative;
  z-index: 2;
}

.main-page .discover-section .wrapper-account-btn .split-wrapper {
  margin-bottom: 0;
  text-align: left;
  gap: 17px;
}

.main-page .discover-section .wrapper-account-btn .split-wrapper .account-button:first-child::after,
.main-page .discover-section .wrapper-account-btn .split-wrapper .account-button:first-child::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -20px;
  left: -30px;
  max-width: 100%;
  width: 120px;
  height: 100px;
  background-image: url("../../img/icon-crypto.png");
  background-size: contain;
}

.main-page .discover-section .wrapper-account-btn .split-wrapper .account-button:first-child::after {
  top: 10px;
  left: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  background-color: #ff9595;
  background-image: url("");
  z-index: -1;
}

.main-page .discover-section .wrapper-account-btn .split-wrapper .account-button {
  position: relative;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-71.5%, var(--white-color)), color-stop(182.25%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, var(--white-color) -71.5%, rgba(255, 255, 255, 0) 182.25%);
  border: 1px solid var(--white-color);
  -webkit-box-shadow: 0px 57px 50px -20px rgba(97, 97, 97, 0.2);
          box-shadow: 0px 57px 50px -20px rgba(97, 97, 97, 0.2);
  padding: 20px 40px 20px 100px;
  border-radius: 10px;
}

.main-page .discover-section .wrapper-account-btn .split-wrapper .account-button .split-wrapper {
  color: var(--text-color-dark);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 17px;
}

.main-page .copy-trading .split-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page .copy-trading .split-wrapper .copy-trading-header,
.main-page .copy-trading .split-wrapper .img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-page .copy-trading .split-wrapper .header {
  font-size: var(--font-size-50);
  color: var(--white-color);
}

@media (max-width: 1200px) {
  .main-page .separator-banner .separator-header .heading {
    font-size: 30px;
    max-width: 500px;
  }
}

@media (max-width: 1198.98px) {
  .main-page .features-section .features-list {
    -ms-grid-columns: (270px)[2];
        grid-template-columns: repeat(2, 270px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 991.98px) {
  .main-page .first-screen-section .main-section .first-screen-header .first-screen-heading {
    font-size: var(--font-size-50);
  }
  .main-page .first-screen-section .main-section .first-screen-header .first-screen-heading img {
    width: 168px;
    height: 69px;
  }
  .main-page .first-screen-section .main-section .first-screen-header .wrapper-400 {
    max-width: 100%;
  }
  .main-page .first-screen-section .main-section .first-screen-header .first-screen-description {
    font-size: 1.5rem;
  }
  .main-page .account-section .account-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-page .account-section .account-wrapper .account-stats {
    margin-right: 0;
    margin-bottom: 90px;
  }
  .main-page .account-section .account-wrapper .account-stats::after {
    width: 165px;
  }
  .main-page .account-section .account-wrapper .account-stats .header-stats {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page .account-section .account-wrapper .account-stats .header-stats h2 {
    font-size: var(--font-size-50);
  }
  .main-page .account-section .account-wrapper .account-stats .header-stats .text-sub {
    font-size: var(--font-size-24);
  }
  .main-page .account-section .account-wrapper .account-stats .account-stats-table {
    width: 566px;
  }
  .main-page .separator-banner {
    background-size: cover;
    height: 550px;
  }
  .main-page .separator-banner .separator-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 270px;
  }
  .main-page .separator-banner .separator-header .heading {
    max-width: 100%;
  }
  .main-page .separator-banner .separator-header h2::before {
    top: 15%;
    left: 50%;
    width: 60%;
    background-image: url("../../img/separator-img-991.png");
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main-page .discover-section .split-wrapper {
    gap: 20px;
    margin-bottom: 70px;
  }
  .main-page .discover-section .split-wrapper .heading {
    font-size: var(--font-size-30);
    margin-bottom: 20px;
  }
  .main-page .discover-section .wrapper-account-btn .split-wrapper p {
    font-size: 1rem;
  }
  .main-page .copy-trading .copy-trading-header .description {
    font-size: 1.125rem;
  }
}

@media (max-width: 767.98px) {
  .main-page .first-screen-section .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main-page .first-screen-section .main-section .main-img-container::before {
    top: 0;
    left: -20px;
    font-size: 6.25rem;
    color: rgba(57, 57, 116, 0.3);
  }
  .main-page .first-screen-section .main-section .first-screen-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-page .first-screen-section .main-section .first-screen-header .first-screen-heading {
    display: block;
    font-size: var(--font-size-100);
  }
  .main-page .first-screen-section .main-section .first-screen-header .first-screen-heading img {
    width: 258px;
    height: 109px;
    max-width: 100%;
    height: auto;
    vertical-align: text-bottom;
  }
  .main-page .first-screen-section .main-section .first-screen-header .btn-primary {
    margin: 0 auto;
  }
  .main-page .first-screen-section .main-section .main-img-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .main-page .separator-banner {
    height: 460px;
  }
  .main-page .separator-banner .separator-header {
    padding-top: 196px;
  }
  .main-page .account-section .account-wrapper .account-stats .account-stats-table {
    width: 100%;
  }
  .main-page .account-section .account-wrapper .account-description .header img {
    width: 140px;
  }
  .main-page .discover-section .split-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-page .discover-section .split-wrapper .account-button .img-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-page .discover-section .discover-section-heder {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-page .discover-section .discover-section-heder .btn-primary {
    margin: 0 auto;
  }
  .main-page .discover-section .discover-section-heder .wrapper-400 {
    max-width: 100%;
  }
  .main-page .discover-section .discover-section-heder .heading {
    text-align: center;
  }
  .main-page .copy-trading .split-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-page .copy-trading .split-wrapper .copy-trading-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-page .security-section .security-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .main-page .security-section .security-list .security-item {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "icon-item text-item";
    -ms-grid-columns: 80px 300px;
        grid-template-columns: 80px 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .main-page .security-section .security-list .security-item .icon-item {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: icon-item;
  }
  .main-page .security-section .security-list .security-item .text-item {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text-item;
  }
  .main-page .security-section .security-list .security-item p {
    text-align: left !important;
  }
  .main-page .security-section .security-list .security-item .img-container {
    margin-bottom: 0;
    width: 71px;
    height: 71px;
  }
}

@media (max-width: 575.98px) {
  .main-page .features-section .features-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page .security-section .security-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 30px;
  }
  .main-page .security-section .security-list .security-item {
    -ms-grid-columns: 80px 1fr;
        grid-template-columns: 80px 1fr;
    row-gap: 40px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .main-page .security-section .security-list .security-item p {
    font-size: var(--font-size-16);
  }
  .main-page .account-section .account-wrapper .account-stats::before {
    display: none;
  }
  .main-page .account-section .account-wrapper .account-description .header {
    font-size: 3.125rem;
  }
  .main-page .account-section .account-wrapper .account-description .header img {
    width: 182px;
  }
  .main-page .account-section .account-wrapper .account-description .btn-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .main-page .features-section .features-list .features-item .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .main-page .features-section .features-list .features-item .card .img-container {
    padding: 20px 40px 20px 20px;
  }
  .main-page .features-section .features-list .features-item .card .img-container svg {
    width: 64px;
    height: 51px;
  }
  .main-page .features-section .features-list .features-item .card .card-body {
    text-align: left;
    padding: 10px 20px;
  }
  .main-page .separator-banner {
    height: 500px;
  }
  .main-page .separator-banner .separator-header .heading {
    font-size: var(--font-size-37);
  }
  .main-page .separator-banner .separator-header .heading::before {
    width: 80%;
    left: 47%;
  }
}

@media (max-width: 375px) {
  .main-page .padding-70 {
    padding: 50px 0;
  }
  .main-page .separator-banner {
    height: 350px;
  }
  .main-page .separator-banner .separator-header {
    padding-top: 120px;
  }
  .main-page .separator-banner .separator-header .heading {
    font-size: var(--font-size-30);
  }
  .main-page .separator-banner .separator-header .heading::before {
    width: 80%;
    left: 47%;
  }
  .main-page .account-section {
    padding-bottom: 70px;
  }
  .main-page .account-section .account-wrapper .account-stats {
    margin-bottom: 40px;
  }
  .main-page .account-section .account-wrapper .account-stats .header-stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 24px 40px 24px 200px;
  }
  .main-page .account-section .account-wrapper .account-description .header {
    max-width: 100%;
    font-size: 28px;
    text-align: center;
  }
  .main-page .account-section .account-wrapper .account-description .header img {
    width: 100px;
    height: 41px;
  }
  .main-page .account-section .account-wrapper .account-description .description {
    font-size: 1rem;
    line-height: 1.4;
  }
  .main-page .discover-section .split-wrapper .discover-section-heder .heading {
    font-size: 2.3rem;
    text-align: center;
  }
  .main-page .discover-section .split-wrapper .account-button {
    padding: 20px 20px 20px 100px;
  }
  .main-page .discover-section .account-button:first-child::before {
    width: 20%;
    top: -7px;
    left: 20px;
  }
  .main-page .security-section-header {
    margin-bottom: 40px;
  }
}

@media (max-width: 320px) {
  .main-page .first-screen-section .main-section .main-img-container::before {
    display: none;
  }
  .main-page .first-screen-section .main-section .first-screen-header .first-screen-heading img {
    width: 168px;
  }
  .main-page .features-section .features-list .features-item .card .card-body {
    padding: 10px;
  }
  .main-page .account-section .account-wrapper .account-stats .header-stats {
    padding: 24px 40px 24px 150px;
  }
  .main-page .account-section .account-wrapper .account-stats .account-stats-table .account-stats-body .account-stats-row .account-stats-header {
    padding: 10px 0 10px 0;
  }
  .main-page .security-section .security-section-header h2 {
    font-size: 28px;
  }
  .main-page .discover-section .split-wrapper .discover-section-heder .heading {
    font-size: 1.9rem;
  }
  .main-page .discover-section .wrapper-account-btn .split-wrapper .account-button:first-child::before {
    top: -5px;
    left: 14px;
    width: 60px;
  }
  .main-page .discover-section .wrapper-account-btn .split-wrapper .account-button {
    padding: 20px 20px 20px 90px;
  }
}
/*# sourceMappingURL=style.css.map */